<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932068016334-0c48jqb1js9ceia7uauvb5hpc158kcpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932068016334-0c48jqb1js9ceia7uauvb5hpc158kcpn</string>
	<key>API_KEY</key>
	<string>AIzaSyBalRemOj5AWJN_KNzpYy3Hh93OPuEjU5o</string>
	<key>GCM_SENDER_ID</key>
	<string>932068016334</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zeyana.CloudKitDemo</string>
	<key>PROJECT_ID</key>
	<string>cachedemo-1bc84</string>
	<key>STORAGE_BUCKET</key>
	<string>cachedemo-1bc84.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932068016334:ios:60bd358d1562d3cc2f909f</string>
</dict>
</plist>